# OS X
.DS_Store

# Xcode
build/
*.xcworkspace
*.xcscmblueprint
*.xcuserstate
*.xcbkptlist
*.pbxuser
*.mode1v3
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint
xcschememanagement.plist
Breakpoints.xcbkptlist

# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
Example/Pods/